.form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  margin-bottom: 32px;
  height: 60px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
}

.form__button {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.form__checkbox-input {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
